/* ==UserStyle==
@name           DuckDuckGo Tweaks
@namespace      atrodec
@version        1.1.1
@description    Improves DuckDuckGo
@author         atrodec
@preprocessor stylus
@var select logo "Logo" ["default:Default", "custom:Custom", "none:None"]
@var text customLogo "Custom logo" url(placeholder)
@var checkbox hideRelatedSearches "Hide related searches" 1
@var checkbox hideImageDimensions "Hide image dimensions" 0
==/UserStyle== */

@-moz-document domain("duckduckgo.com"), domain("duck.ai") {
    /* === Search results === */

    /* Footer */
    div.footer {
        display: none !important;
    }

    /* AdBlock notice */
    .wbUB0U7KMDyukXtzMd8Y.hoUWqHNnn8Kv_pLhPzPQ:has(img[src="https://metrics-content.duckduckgo.com/assets/adblock-notice/Shield.svg"]) {
        display: none;
    }
    
    /* Lower feedback prompt */
    .RPL9esU9f8nMDBntEfZQ:has(.O9Ipab51rBntYb0pwOQn.AgRvhDZlpjWsRz4nVQDb) {
        display: none;
    }
    
    /* Nav menu feedback */
    .nav-menu--feedback {
        display: none;
    }
    
    /* New feature promo message */
    .header--text_promo {
        display: none;
    }
    
    /* New feedback buttons */
    .react-feedback-prompt-mvc-wrapper {
        display: none;
    }
    
    /* Thumbs up/down feedback in results */
    .QLnrpZotv4aJbXfgALkx {
        display: none;
    }
    
    [data-testid="feedback-prompt"] {
        display: none;
    }

    /* Related searches */
    if hideRelatedSearches {
        li.L6fj2A3X2mfJl5kE8caF[data-layout="related_searches"] {
            display: none;
        }
    }

    /* "Spread DDG" promo */
    li.L6fj2A3X2mfJl5kE8caF[data-layout="spreadCTA"] {
        display: none;
    }
    
    .results--sidebar:has(.ia-module--spread-cta) {
        display: none;
    }

    /* Feedback button */
    .serp__bottom-right.js-serp-bottom-right, .serp__bottom-right.js-vertical-bottom-right {
        display: none;
    }

    /* Promo popup */
    [data-testid="serp-popover-promo"] {
        display: none;
    }
    
    /* Extension side promo */
    .badge-link.ddg-extension-hide {
        display: none;
    }

    /* Search result ads */
    [data-layout="ad"] {
        display: none !important;
    }
    
    /* Top-of-results product shopping ads */
    [data-layout="products"] {
        display: none;
    }

    /* Always private reminder */
    .c1GwqC__eRoEs0cLTIfL:has(div.KE_4ibtn0WI3iUo6lJw9.nOpYdHAdSD_d47TfU1p8.yjuFYcjOI844d3KiuLhz) {
        display: none;
    }

    /* Adjust margins of other tool row options */
    .c1GwqC__eRoEs0cLTIfL {
        margin: 0;
        margin-right: calc(16 * var(--sds-base-px-in-rem));
    }

    /* Remove text feedback prompts */
    p.feedback-prompt {
        display: none;
    }

    /* Remove "Privacy, Simplified" slogan that sometimes appears */
    div.header--aside__item.header--aside__item--hidden-lg:has(a[href="/updates"]) {
        display: none;
    }

    /* Remove space used by removed feedback options */
    div.footer__addons {
        display: none;
    }

    /* Instant answers info icon */
    .modal-trig.attribution-wrap--top.hide--screen-s.hide--mob {
        display: none;
    }

    /* === duck.ai === */
    
    /* Subscription promo graphic */
    .HmVD0odzmaobZhTx3jzd.qu8l8y0T63L2c6Y_Ex2F {
        display: none;
    }

    /* === Image results === */

    /* Hide "Images" from the top of the images results */
    .te0pc6_z2a0ynfbXyZSv.RK_fPOXn1heWkbJ9BRzh {
        display: none;
    }
    
    /* Hide image dimensions */
    if hideImageDimensions {
        .xzqXk0tiK1HQ4z1QybNY.wZ4JdaHxSAhGy1HoNVja._dJ357tkKXSh_Sup5xdW {
            display: none;
        }
    }

    /* === Logo === */
    if logo == custom {
        .header__logo.js-logo-ddg {
            background-image: customLogo !important;
        }
        .header__logo {
            background-size: 40px auto !important;
        }
    }
    
    if logo == none {
        .header__logo.js-logo-ddg {
            display: none !important;
        }
    }

    /* === Home page === */

    /* Features and promo */
    div#features {
        display: none;
    }
    
    section.homepage-cta-section_ctaSection__V5TiC {
        display: none;
    }

    /* "learn more" */
    .homepage-cta-section_scrollCta__Wmixn {
        display: none;
    }

    /* "switch to duckduckgo" prompt that can appear */
    .desktop-homepage_heroContent__px79B.container_root__Lmrbx.container_responsive__IDWnv:has(section.homepage-cta-section_ctaSection__o_ioD) {
        display: none;
    }
    
    /* Customize Homepage feedback row */
    .customizeButton_modal__xdSZ8 .customizeButton_feedbackRadioGroup__jQSd9 {
        display: none;
    }
    
    /* === Sidebar === */

    /* Subscription promo graphic */
    div:has(> .sidemenu-subscription-promo_sideMenuSubscriptionPromo__7R_Zm) {
        display: none;
    }
}
